@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  background: linear-gradient(
    92.23deg,
    #ffa856 21.43%,
    #ee6436 50.63%,
    rgb(226, 87, 59) 100%,
    #582e1b 117.04%
  );
  box-shadow: 0px 4.42184px 107.23px rgba(255, 148, 86, 0.51);
}

.btn:hover {
  background: linear-gradient(
    92.23deg,
    #6c2c0a 21.43%,
    #983216 50.63%,
    rgb(238, 109, 54) 100%,
    rgb(92, 255, 86) 117.04%
  );
}

.gradient,
.active {
  background: linear-gradient(
    92.23deg,
    #ffa856 21.43%,
    #ee6436 50.63%,
    rgb(226, 87, 59) 100%,
    #582e1b 117.04%
  );
}

.active {
  color: #fff;
  padding: 1rem;
  border-radius: 100%;
}

@layer base {
  body {
    @apply font-secondary text-lg leading-8 text-white;
  }
  .h2 {
    @apply font-primary text-[32px] mb-6 tracking-[10%] uppercase;
  }
  .h3 {
    @apply font-primary font-semibold text-[26px] mb-6 leading-[46px];
  }
  .btn {
    @apply rounded-full font-primary text-white font-medium;
  }
  .btn-sm {
    @apply h-[48px] px-6 text-sm;
  }
  .btn-lg {
    @apply h-[56px] px-10 text-base;
  }
  .btn-link {
    @apply text-base;
  }
  .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text from-[#e3a342] to-[#ffbb56] font-bold font-primary hover:from-[#5e3a28] hover:to-[#e36842];
  }
  .section {
    @apply py-8 lg:py-24 lg:h-screen flex items-center;
  }
}
